@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}
main{
    padding: 16px;
}
footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}
img{
    height: 200px;
}
nav{
    background-color: rgba(255, 192, 203, 0.586);
    border-bottom: 1px solid green;
    padding: 16px;
}
body {
    font-family: "Lora", libre baskerville;
}

#recipe-list-page {
   display: grid;
   grid-template-columns: 200px 1fr;
   column-gap: 16px;
   grid-template-rows: repeat (4, auto) 1fr;
   width: 600px;
   margin-bottom: 16px;
}

tr:nth-child(even){
    background-color: lightgray;
}
#page-description {
    grid-row-start: 2;
    grid-column-start: 1;
}
